body {
	background-color: #17afb4;
	color: #2a3232;
	width: 100%;
}


.title {
	margin: 0 auto;
	width: 50%;
}

#cloud {

	animation-duration: 3s;
  	animation-name: slidein;
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	margin: 120px auto 20px;
	position: relative;
	width: 350px; height: 120px;
}

#cloud:after, #cloud:before {
	background: #f2f9fe;
	content: '';
	position: absolute;
	z-index: -1
}

#cloud:after {
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	width: 100px; height: 100px;
	top: -50px; left: 50px;
}

#cloud:before {
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	width: 180px; height: 180px;
	top: -90px; right: 50px;	
}

@keyframes slidein {
  from {
    margin-left: 100%;
   
  }

  to {
    margin-left: 36%;
  }
}

.shadow {
	background: #000;
	box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position: absolute; bottom: -10px; 
	width: 350px;
	z-index: -1;
	
	
}

.rainDrop {
	background: #38ACEC;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	border: none;
	border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
	-webkit-border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: rgba(0,0,0,1);
	cursor: default;
	display: none;
	float: none;
	font: normal 100%/normal Arial, Helvetica, sans-serif;
	height: 10em;
	margin: 0 auto;
	opacity: 1;
	overflow: visible;
	padding: 0;
	position: static;
	text-overflow: clip;
	-o-text-overflow: clip;
	text-shadow: none;
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transform: rotateZ(-45deg)   ;
	-webkit-transform: rotateZ(-45deg)   ;
	transform-origin: 50% 50% 0;
	-webkit-transform-origin: 50% 50% 0;
	width: 10em;
	z-index: auto;
}

.info {
	display: none;
	width: 66%;
    transform: rotate(45deg);
    margin: 0 auto;
    padding-left: 53px;
    padding-top: 15px;
}

h2 {
	font-size: 13px;
}

h3 {
	font-size: 11px;
}

h4 {
	font-size: 10px;
}